$base-text-color: rgba(0, 0, 0, 0.84);
$base-text-color-hightlight: #a0a0a0;
$brush-stroke-dark: #000;
$brush-stroke-dark-highlight: #a0a0a0;
$brush-stroke-light: #a0a0a0;
$brush-stroke-light-highlight: #FFF;
$link-color: rgba(0, 0, 0, 0.84);
$link-color-highlight: #a0a0a0;
$link-color-light: #a0a0a0;
$link-color-light-hightlight: #FFF;